body{
    background-color: hsl(0, 0, 98%);
}

div{
    background-color: rgb(54, 0, 54);
    color: white;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
    display: inline-block;
}

div:hover{
    background-color: rgb(255, 255, 64);
}

#div1:hover{
    background-color: rgb(255, 255, 64);
}

#div2:hover{
    background-color: rgb(7, 231, 7);
}

#div3:hover{
    background-color: rgb(187, 19, 19);
}

a{
    display: block;
    margin: 50px;
    text-decoration: none;
    color: white;
    background-color: hsl(200, 90%, 50%);
    width: 12vw;
    padding: 5px;
    border-radius: 4px;
}

a::before{
    content: '⇒ ';
    color: hsl(0, 0%, 88%);
}

a::after{
    content: ' ⇐';
    color: hsl(0, 0%, 88%);
}
