body{
    background-color: rgb(168, 168, 168);
}

div{
    background-color: rgb(54, 0, 54);
    color: white;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
    display: inline-block;
}

div:hover{
    background-color: rgb(255, 255, 64);
}

#div1:hover{
    background-color: rgb(255, 255, 64);
}

#div2:hover{
    background-color: rgb(7, 231, 7);
}

#div3:hover{
    background-color: rgb(187, 19, 19);
}
