/*configs gerais*/

@media all {
  * {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }

  html,
  body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
  }

  h1 {
    color: white;
    padding: 10px;
  }
}

/*declarações de modo retrato*/
@media screen and (orientation: portrait) {
  body {
    background-image: url("../assets/cev-portrait.jpg");
    background-position: center bottom;
  }
}

/*Aparelho em modo landscape (deitado)*/

@media screen and (orientation: landscape) {
  body {
    background-image: url("../assets/cev-landscape.jpg");
    background-position: left bottom;
  }
}
