body{
  background-color: black;
  background-image: url('imgs/wallpaper002.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;/*deixa a imagem fixa no site, ou seja, ela nao acompanhará a rolagem
  de conteúdo do site*/
  height: 100vh;
}

main{
  background-color: white;
  padding: 10px;
  margin: auto;
  border: 1.5px solid darkblue;
  width: 400px;
}