.bloco{
  background-image: url(imgs/wallpaper002.jpg);
  height: 120px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
}

.img{
  background-image: url(imgs/wallpaper003.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

#q1{
  background-position: left top; /*PADRÃO*/
}

#q2{
  background-position: left bottom;
}

#q3{
  background-position: right bottom;
}

#q4{
  background-position: center center;
}