body{
  background-color: rgb(48, 12, 12);
  font-family: Arial, Helvetica, sans-serif;
}

h1, p{
  color: white;
}

table{
  border-collapse: collapse;
  background-color: white;
  position: relative;
}

table caption{
  font-size: 1.5em;
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 10px;
}

thead, tfoot{
  background-color: rgb(109, 109, 109);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

thead > tr > th{
  position: sticky;
  top: -1px;
  background-color: rgb(109, 109, 109);
}

td, th{
  border: 1px solid black;
  height: 40px;
  width: 150px;
  text-align: center;
}

.populacao{
  text-align: right;
}

/*efeito zebrado na tabela*/
tbody > tr:nth-child(even){
  background-color: lightgray;
}

tbody > tr:nth-child(odd){
  background-color: aliceblue;
}